@model Produkt

<table id="@("produkt" + Model.Id)" class="table">
    <tbody>
        <tr>
            <th>@Model.Name</th>
            <td>@Model.Price kr</td>
            <td>
                <button class="btn btn-primary" onclick="LinkUpdate('@Url.Action("Edit", "Produkt" , new {id = Model.Id })' , '@("produkt" + Model.Id)' )">
                    Edit
                </button>
            </td>
        </tr>
    </tbody>
</table>