@model Produkt

<div id="@("produkt" + Model.Id)" class="col-12 listrow">
    <div class="row">
        <div class="col">@Model.Name</div>
        <div class="col">@Model.Price</div>
        <div class="col">
            <div class="row">
                <div class="col">                              @* get                  get *@
                    <button class="btn btn-warning" onclick="LinkUpdate('@Url.Action(" Edit", "Produkt" , new {id = Model.Id })' , '@("produkt" + Model.Id)' )">
                        Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
